<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="footer">

    <div id="copyright" class="container">
        <ul class="menu">
            <li>©PokerOnline -Adrian Plewa. All rights reserved.</li>

            <!-- Scripts -->
            <script th:src=" @{/static/assets/js/jquery.min.js}"></script>
            <script th:src=" @{/static/assets/js/jquery.dropotron.min.js}"></script>
            <script th:src=" @{/static/assets/js/browser.min.js}"></script>
            <script th:src=" @{/static/assets/js/breakpoints.min.js}"></script>
            <script th:src=" @{/static/assets/js/util.js}"></script>
            <script th:src=" @{/static/assets/js/main.js}"></script>
        </ul>
    </div>


</div>


</body>
</html>