#player1 {
    float: left;
    width: 45%;
}

#player2 {
    float: right;
    width: 45%;
}

.hidden {
    display: none;
}

.player-box {
    margin: 10px;
    padding: 10px;
}

.makeMoveForm {
    margin-top: 10px;
}

.move_button {
    margin-right: 5px;
}

.cards img {
    max-width: 100px;
    height: auto;
}