<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>change-password</title>
    <link rel="stylesheet" th:href="@{/game/css/page.css}"/>
</head>
<body>

<div class="container white">
    <h1>Change Password</h1>
    <form method="post" action="/change-password">
        Old Password:<input type="password" name="oldPassword"/> </br>
        New Password:<input type="password" name="newPassword"/> </br>
        Confirm New Password:<input type="password" name="confirmNewPassword"/> </br>
        <button type="submit"> submit!</button>
    </form>
</div>

</body>
</html>