<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker game</title>
    <link rel="stylesheet" th:href="@{/game/css/main.css}"/>
</head>
<body>

<!--                    WebSocket -addPlayer-->
<form id="playerJoinForm" name="playerJoinForm">
    <div class="join-button">
        <input type="hidden" id="playerId" name="playerId" th:value="${session.player.id}">
        <button type="submit">Join!</button>
    </div>
</form>


<div id="gameView" class="game-view hidden">
    <div id="player1" class="player-box">
        <h2>Player 1</h2>
        <p>COINS: <span id="player1Coins">0</span></p>
        <p>Current Bet: <span id="player1CurrentBet">0</span></p>
        <!--        TODO ^ set currentBets-->

        <div id="player1Cards" class="cards">
            <img id="player1Card1" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
            <img id="player1Card2" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        </div>
        <form id="makeMoveFormPlayer1" class="makeMoveForm">
            <input type="number" id="betAmountPlayer1" name="betAmount" placeholder="Enter bet amount">
            <button type="submit" class="move_button" value="check">Check</button>
            <button type="submit" class="move_button" value="bet">Bet</button>
            <button type="submit" class="move_button" value="fold">Fold</button>
        </form>
    </div>

    <div id="player2" class="player-box">
        <h2>Player 2</h2>
        <p>COINS: <span id="player2Coins">0</span></p>
        <p>Current Bet: <span id="player2CurrentBet">0</span></p>
        <!--        TODO ^ set currentBets-->

        <div id="player2Cards" class="cards">
            <img id="player2Card1" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
            <img id="player2Card2" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        </div>

        <form id="makeMoveFormPlayer2" class="makeMoveForm">
            <input type="number" id="betAmountPlayer2" name="betAmount" placeholder="Enter bet amount">
            <button type="submit" class="move_button" value="check">Check</button>
            <button type="submit" class="move_button" value="bet">Bet</button>
            <button type="submit" class="move_button" value="fold">Fold</button>
        </form>
    </div>

    <br>
    <br>
    <br>

    <div id="communityCards" class="cards">
        <h2>Community Cards</h2>
        <img id="communityCard1" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        <img id="communityCard2" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        <img id="communityCard3" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        <img id="communityCard4" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
        <img id="communityCard5" th:src="@{/images/cards/BACK.png}" alt="Card Image"/>
    </div>

</div>


<div>
    bank: <span id="bank">0</span>
</div>

<div>
    info: <span id="info"></span>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/game/js/main.js"></script>
</body>
</html>