<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker game</title>
    <link rel="stylesheet" th:href="@{/game/css/main.css}"/>
</head>
<body>

<!--                    WebSocket -addPlayer-->
<form id="playerJoinForm" name="playerJoinForm">
    <div class="join-button">
        <input type="hidden" id="player" name="player" value="${session.player}">
        <button type="submit">Join!</button>
    </div>
</form>

<form id="makeMoveForm" name="makeMoveForm" class="hidden">
    <div class="make-move">
        <button type="submit" value="raise">Raise</button>
        <button type="submit" value="bet">Bet</button>
        <button type="submit" value="fold">Fold</button>
    </div>
</form>



<!--<div>-->
<!--    <p>Total Bet: <span id="totalBet">${totalBet}</span></p>-->
<!--    <form action="/raise" method="post">-->
<!--        <input type="hidden" name="raise" value="20">-->
<!--        <button type="submit">Raise</button>-->
<!--    </form>-->
<!--</div>-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<!--<script src="/game/js/main.js"></script>-->
</body>
</html>