<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/game/css/page.css}"/>

</head>
<body>
<div class="container">
    <a href="/game" class="button">Game</a>
    <a href="#" class="button">Scoreboard</a>
    <a href="#" class="button">My Account</a>
    <a href="/info" class="button">Info</a>
    <form method="post" action="/logout">
        <button type="submit" class="button">Logout</button>
    </form>
</div>
</body>
</html>
