<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragements/header.html :: header-css">
</head>

<body class="homepage is-preload">
<div id="page-wrapper">


    <div th:include="fragements/header :: header"/>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <section class="col-6 col-12-narrower feature">
                    <div class="image-wrapper first">
                        <a href="#" class="image featured first"><img th:src="@{/images/5-card-draw-poker.jpg}" alt=""></a>
                    </div>
                    <header>
                        <h2>5 card draw poker</h2>
                    </header>
                    <p>Five-card draw (also known as Cantredraw) is a poker variant that is considered the simplest
                        variant of poker, and is the basis for video poker.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button">info</a></li>
                    </ul>
                </section>
                <section class="col-6 col-12-narrower feature">
                    <div class="image-wrapper">
                        <a href="#" class="image featured"><img th:src="@{/images/texas-holdem.jpg}" alt=""></a>
                    </div>
                    <header>
                        <h2>
                            <br> <br> <br> <br>
                            Texas Holdem </h2>
                    </header>
                    <p>Texas hold 'em (also known as Texas holdem, hold 'em, and holdem) is one of the most popular
                        variants of the card game of poker. </p>
                    <ul class="actions">
                        <li><a href="#" class="button">info</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>


    <div th:include="fragements/footer :: footer"/>

</div>
</body>

</html>