<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/game/css/page.css}"/>
</head>
<body>


<div class="container white">
    <h1>Register</h1>  </br>
    <form method="post" action="/register">
        nickname:<input type="text" name="nickname"/> </br>
        email:<input type="text" name="email"/> </br>
        password:<input type="text" name="password"/> </br>
        First Name:<input type="text" name="firstName"/> </br>
        Last Name:<input type="text" name="lastName"/> </br>
        Country:<input type="text" name="country"/> </br>
        City:<input type="text" name="city"/> </br>
        <button type="submit"> submit!</button>
    </form>
</div>

</body>
</html>


